.python-version
.idea
.DS_Store
.vscode
__pycache__
config/local_settings.py
static/xlsx/*
static/json/*.json
static/json/my_shift_data/[1-8]/*
static/json/task_shift_data/[1-8]/*
media/*
!.gitkeep
!*_example.xlsx
